.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.85);
    z-index: 19999;
  }
  #app-register {
    display: flex;
    width: 100%;
    justify-content: center;
  
    .btn-close {
      position: absolute;
      top: -0.5rem;
      right: -0.4rem;
    }
    .register-section {
      z-index: 20000;
      // background-color: #191434;
      background-image: url("~@/platform/7_227/template/bg_form.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 0.2rem;
      flex-direction: column;
      align-items: center;
      display: table;
      height: auto;
      width: 80%;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      overflow: auto;
    }
  
    .form-frame {
      display: flex;
      flex-direction: column;
      margin: 0.1rem;
      margin-top: 0.3rem;
    }
  
    ::-webkit-input-placeholder {
      /* Edge */
      color: #8c433c;
    }
  
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #8c433c;
    }
  
    ::placeholder {
      color: #8c433c;
    }
  
    .code-frame {
      display: flex;
      align-items: center;
    }
  
    .captcha-frame {
      display: flex;
      align-items: center;
    }
  
    .time-clock {
      display: block;
      color: #fff;
      position: absolute;
      right: 1.8rem;
    }
    .captcha-frame > .input-frame {
      flex: 1;
    }
    .code-frame > .input-frame {
      flex: 1;
    }
    .code {
      margin: 0 0.2rem;
      box-sizing: border-box;
      font-size: 0.8rem;
      min-width: 3.7rem;
      border-radius: 0.2rem;
    }
  
    .input-frame {
      display: flex;
      align-items: center;
      margin: 0.2rem;
      background-color: #c08f8b;
      padding: 0.2rem;
      height: 0.7rem;
      border-radius: 0.2rem;
      color: #fff;
    }
  
    .input-frame > .input {
      color: #fff;
      background-color: transparent;
      border: 0;
      font-size: 0.5rem;
      flex: 1;
      -webkit-appearance: none;
      width: 100%;
    }
    .input-frame > .input:focus {
      outline: none;
    }
    .captcha-btn {
      margin: 0 0.2rem;
      box-sizing: border-box;
      min-width: 3.7rem;
    }
    .disable-btn {
      opacity: 0.3;
    }
    .icon {
      width: 0.78rem;
    }
  
    .icon-img {
      width: auto;
      height: 0.7rem;
    }
  
    .btn-register {
      width: 5rem;
      margin: 0.2rem;
      height: auto;
    }
  
    .btn-login {
      width: 6rem;
      margin: 0.2rem;
      height: auto;
    }
    .recommend {
      background-color: #d1a721;
      color: #fff;
      font-size: 0.5rem;
      padding: 0.1rem;
      border-radius: 0.2rem;
      margin: 0.2rem;
    }
  
    .tip {
      position: absolute;
      z-index: 20001;
      top: 10rem;
      background-color: #3c3b3b9e;
      width: 9.8rem;
      font-size: 0.6rem;
      padding: 0.2rem 0;
      color: #fff;
      opacity: 0;
      pointer-events: none;
    }
  
    .elementToFadeInAndOut {
      animation: fade 2s linear;
    }
  
    @keyframes fade {
      0% {
        opacity: 0;
      }
      30% {
        opacity: 1;
      }
      70% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    .btn-frame {
      position: relative;
      .loading {
        position: absolute;
        width: 1rem;
        top: 0.4rem;
        left: 4.4rem;
      }
    }
  
    .time-loading {
      position: absolute;
      width: 1rem;
      right: 2rem;
    }
  }