@mixin for-landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin for-portrait {
  @media screen and (orientation: portrait) {
    @content;
  }
}

@mixin for-ipad-only {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    @content;
  }
}

@mixin for-desktop {
  /* ----------- Non-Retina Screens ----------- */
  @media (min-width: 1281px) {
    @content;
  }
}

html {
  @include for-desktop {
    font-size: 36px;
  }
  @include for-ipad-only {
    font-size: 50px;
  }
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  z-index: 19999;
}
#app-register {
  display: flex;
  width: 100%;
  justify-content: center;

  .btn-close {
    position: absolute;
    top: -0.5rem;
    right: -0.4rem;
  }
  .register-section {
  }

  .form-frame {
    display: flex;
    flex-direction: column;
    margin: 0.1rem;
    margin-top: 0.3rem;
  }

  ::-webkit-input-placeholder {
    /* Edge */
    color: #a2a2a2;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a2a2a2;
  }

  ::placeholder {
    color: #a2a2a2;
  }

  .code-frame {
    display: flex;
    align-items: center;
  }

  .captcha-frame {
    display: flex;
    align-items: center;
  }

  .time-clock {
    display: block;
    color: #fff;
    position: absolute;
    right: 1.2rem;
  }
  .captcha-frame > .input-frame {
    flex: 1;
  }
  .code-frame > .input-frame {
    flex: 1;
  }
  .code {
    width: 37%;
    box-sizing: border-box;
    font-size: 0.8rem;
    min-width: 3.7rem;
    border-radius: 0.2rem;
  }

  .input-frame > .input:focus {
    outline: none;
  }
  .captcha-btn {
    margin: 0 0.2rem;
    box-sizing: border-box;
    min-width: 3.7rem;
  }
  .disable-btn {
    opacity: 0.3;
  }
  .icon {
    width: 0.78rem;
  }

  .icon-img {
    width: auto;
    height: 0.7rem;
  }

  .btn-register {
    width: 5rem;
    margin: 0.2rem;
    height: auto;
  }

  .btn-login {
    width: 6rem;
    margin: 0.2rem;
    height: auto;
  }
  .recommend {
    background-color: #755429;
    color: #fff;
    font-size: 0.5rem;
    padding: 0.1rem;
    border-radius: 0.2rem;
    margin: 0.2rem;
  }

  .tip {
    position: absolute;
    z-index: 20001;
    top: 10rem;
    background-color: #3c3b3b9e;
    width: 9.8rem;
    font-size: 0.6rem;
    padding: 0.2rem 0;
    color: #fff;
    opacity: 0;
    pointer-events: none;
  }

  .elementToFadeInAndOut {
    animation: fade 2s linear;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .btn-frame {
    position: relative;
    .loading {
      position: absolute;
      width: 1rem;
      top: 0.4rem;
      left: 4.4rem;
    }
  }

  .time-loading {
    position: absolute;
    width: 1rem;
    right: 1.3rem;
  }
}

.reg-font {
  font: 700 1rem "Comic Sans MS";
  background: linear-gradient(
    to bottom,
    #ffe3be,
    #ffe3be 50%,
    #dab585,
    #dab585 60%,
    #a17a58,
    #ffcc66
  );
  -webkit-background-clip: text;
  color: transparent;
}

/* 容器边距 */
.rg-box {
  width: 70%;
  z-index: 999;
  margin: 0 auto;
}

.feedback-btn {
  display: none;
  position: absolute;
  text-align: right;
  right: 0.2rem;
  top: 0.2rem;
  width: 1.65rem;
  height: 1.65rem;
  background: url("~@/platform/sp1/register/btn_1.png") center center no-repeat;
  background-size: auto 100%;
}

.title {
  text-align: center;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-logo {
  left: 50%;
  width: 4.2rem;
  height: 3rem;
  background: url("~@/platform/sp1/register/png_t.png") center center no-repeat;
  background-size: auto 100%;
}

.reg-company {
  font-size: 0.9rem;
  height: 1.3rem;
}

.reg-name {
  font-size: 1.3rem;
  margin-top: 0.2rem;
}

.reg-form {
  position: relative;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-top: 0.3rem;
  text-align: center;
}

.input-row {
  display: flex;
  padding: 0.1rem;
  margin: 0.1rem;
  height: 1.3rem;
  justify-content: space-between;
  position: relative;
}

.input-row .numbox-input {
  width: 100%;
  // height: 10vw;
  border-radius: 5px;
  padding-left: 1.4rem;
  font-size: 0.5rem;
  color: #656571;
  text-align: left;
}

.input-row .mobile {
  background: #fff url("~@/platform/sp1/register/p_3.png") no-repeat 0.45rem center;
  background-size: 0.5rem;
  
}

.input-row .authCode {
  background: #fff url("~@/platform/sp1/register/p_4.png") no-repeat 0.45rem center;
  background-size: 0.5rem;
  width: 60%;
  
}

.input-row .password {
  background: #fff url("~@/platform/sp1/register/p_4.png") no-repeat 0.45rem center;
  background-size: 0.5rem;
  
}

.input-row .invite_code {
  color: #ccc;
  padding: 0;
  text-align: center;
}

.check-btn {
  width: 37%;
  padding: 0;
  color: #1a1a1a;
  background: #e3d7c9;
  border-radius: 5px;
  font-size: 0.4rem;
  font-weight: bold;
}

.check-btn-wait {
  color: #e4d6c7;
  background: #60584f;
  font-size: 0.4rem;
}

.reg-btn {
  width: 100%;
  padding: 0;
  color: #fff;
  background: #ab8256;
  border-radius: 5px;
  font-size: 0.45rem;
  float: left;
  font-weight: bold;
}

.tips {
  color: #fff;
  font-size: 0.45rem;
}

.tips .link {
  color: #ab8256;
  font-weight: bold;
}
